h1{
    font-family: serif;
    margin-left:900px;
    color:#434547;
    margin-top: 0px;
}

img {
    width: 1175px;
    height: 400px;
    margin: -10px -10px 10px 0px;
    display:block;
    transparent: 70%;
}

.Pagetitle {
    margin-left: 340px;
    font-size: 30px;
}

.navigationBar{
    margin-left: 20px;
    display: inline-block;
    margin-bottom: 40px;
    background-color:#f2f2f2;
    border: 15px solid #f2f2f2;
    border-radius: 15%
}

div p {
    font-style: Lucida Console;
}

.Outline{
   margin: -230px 150px 130px 340px;
   display: inline-block;
    
}

#title{
    margin-left:500px;
    font-size: 21px;
}

.box {
    height:100px;
    width:100px;
    display: inline-block;
}

#red {
    background-color:#FF0000;
}

#blue {
    background-color:#0000FF;
}

#yellow {
    background-color:#E2BE22;
}

#green {
    background-color:#008800;
}